.button {
  display: inline-block;
  box-sizing: border-box;

  font-family: inherit;
  text-align: center;
  text-decoration: none;

  border: none;
  cursor: pointer;
  color: $white;
  background-color: $blue;
}
