.features__slogan {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}

.features__intro {
  font-size: inherit;
  text-transform: uppercase;
  text-align: center;
  color: $special-black;
  margin-bottom: 16px;
}
