.features-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.features-list__item {
  background-color: $white;

  &--color {
    background-color: $blue;
  }
}

.features-list__wrapper {
  display: flex;
  margin: 0;
}

.features-list__text {
  background: url(../../img/features/features-list__text-triangle.svg) top no-repeat;
  min-width: 320px;
  min-height: 211px;
  padding: 54px 31px 40px 26px;

  @media (min-width: $tablet-width) {
    background: none;
    width: 256px;
    padding: 42px 32px 46px 32px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding: 49px 68px 58px 67px;
  }
}

.features-list__title {
  margin-top: 0;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;

  &--color {
    color: $white;
  }
}

.features-list__number {
  font-weight: 700;
  margin-bottom: 17px;

  &--color {
    color: $white;
  }
}

.features-list__description {
  margin-bottom: 26px;

  &--color {
    color: $white;
    margin-bottom: 40px;
  }
}

.features-list__background {
  background-color: $grey;
}

.features-list__image {
  display: block;
  height: auto;
  object-fit: cover;
  max-width: 800px;
}
