.feedback__title {
  margin-top: 0;
  margin-bottom: 24px;

  text-transform: uppercase;
  text-align: center;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.feedback__description {
  margin-bottom: 28px;

  text-transform: uppercase;
  text-align: center;
}
