.hotel-search {
  text-transform: uppercase;
  text-align: center;
}

.hotel-search__accent {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-search__description {
  margin-bottom: 22px;
}

.hotel-search__link {
  display: block;

  margin-bottom: 49px;
}
