.info__title {
  margin-top: 0;
  margin-bottom: 31px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.info__text {
  margin-bottom: 25px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
