.intro {
  padding: 90px 20px 85px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 32px;
  background: url("../../img/intro/intro-triangle.svg") bottom no-repeat,
  url("../../img/intro/back-mobile.jpg") bottom/auto 100% no-repeat, $accent-blue;

  @media(min-width:$tablet-width) {
    padding: 77px 20px 90px;
  }

  @media(min-width: $desktop-width) {
    background-size: 100% auto;
  }
}

.intro__slogan-image {
  display: block;
  margin: 0 auto;
  height: auto;

  @media(min-width: $tablet-width) {
    width: 461px;
  }
}
