.intro {
  min-height: 158px;
  margin-bottom: 32px;
  background: url("../../img/intro/intro-triangle.svg") bottom no-repeat,
    url("../../img/intro/back-mobile.jpg") center 100% no-repeat $white;

  @media (min-width: $tablet-width) {
    padding: 77px 20px 90px;
  }

  @media (min-width: $desktop-width) {
    background-size: 100% auto;
  }

  &--secondary {
    padding: 52px 45px 67px;
    background-size: auto, 902px auto;
    background-position: bottom, 50% 100%;
  }

  @media (min-width: $tablet-width) {
    padding: 95px 45px 117px;
    background-size: auto, 1200px auto;
    background-position: bottom;
  }

  @media (min-width: $desktop-width) {
    padding: 101px 45px 122px;
  }
}

.intro__wellcome-image {
  display: block;
  margin: 0 auto;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 460px;
  }
}
