.page__container {
  @media (min-width: $tablet-width) {
    width: 1200px;
    margin: 0 auto;
    background-color: $white;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  }
}

.page__main {
  background-color: $white;
}

.page__body {
  min-height: 100%;
  min-width: 320px;
  margin: 0;
  color: $black;
  background-color: $light-grey;
}
