.video {
  text-align: center;
  text-transform: uppercase;
}

.video__info {
  margin-bottom: 32px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.video__description {
  margin-bottom: 38px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: $special-black;
}
