.video {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 120px;
  }
}

.video__image {
  width: 100%;
}

.video__info {
  margin-bottom: 32px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.video__description {
  margin-bottom: 38px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: $special-black;
}
