html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page__body {
  min-height: 100%;
  min-width: 320px;
  margin: 0;

  font-family: $main-font;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: $special-black;

  background-color: $white;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: none;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    min-width: 648px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    max-width: 1200px;
  }
}
