// Colors
$white: #ffffff;
$black: #000000;
$grey: #eeeeee;
$blue: #81b3d2;
$special-black: #333333;
$light-grey: #f2f2f2;
$extra-grey: #e6e6e6;
$dark-grey: #e5e5e5;
$special-grey: #d5d5d5;
$extra-blue: #669ec0;
$dark-blue: #5496bd;
// Fonts
$main-font: "PT Sans", "Arial", sans-serif;
