// Colors

$white: #ffffff;
$black: #000000;
$grey: #eeeeee;
$blue: #81b3d2;
$accent-blue: #81b3d3;
$special-black: #333333;
$extra-black: rgba(0, 0, 0, 0.3);
$light-grey: #f2f2f2;
$extra-grey: #e6e6e6;
$dark-grey: #e5e5e5;
$special-grey: #d5d5d5;
$extra-blue: #669ec0;
$dark-blue: #5496bd;
$silver: rgba(51, 51, 51, 0.6);

// Fonts
$main-font: "PT Sans", "Arial", sans-serif;

// Viewports
$tablet-width: 768px;
$desktop-width: 1280px;
