//global
@import "./global/fonts.scss";
@import "./global/variables.scss";
@import "./global/global.scss";
@import "./global/mixin.scss";

//blocks
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/footer.scss";
@import "./blocks/social-list.scss";
@import "./blocks/copyright.scss";
@import "./blocks/site-list.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/intro.scss";
@import "./blocks/features.scss";
@import "./blocks/features-list.scss";
@import "./blocks/advice-list.scss";
@import "./blocks/hotel-search.scss";
@import "./blocks/button.scss";
@import "./blocks/video.scss";
@import "./blocks/feedback.scss";
@import "./blocks/form-group";
@import "./blocks/text-field";
@import "./blocks/catalog.scss";
@import "./blocks/card.scss";
@import "./blocks/feedback-form.scss";
@import "./blocks/radio-field.scss";
@import "./blocks/checkbox-field.scss";
@import "./blocks/textarea-field.scss";
@import "./blocks/location.scss";
